div {
    width: 400px;
    margin: 50px auto; 
    padding: 30px;
    background-color: #eee;
    text-align: center;
    line-height: 1.8;
    position: relative; 
    border-right: 2px solid #2196f3;
    border-top: 2px solid #f44336;
    border-left: 2px solid #2196f3;
    border-bottom: 2px solid #f44336;
}

span {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #2196f3;
    color: white;
    justify-content: center;
    font-weight: bold;
}

.top-left {
    top: -15px;
    left: -15px;
    border-right: 2px solid #f44336; 
}

.bottom-left {
    bottom: -15px;
    left: -15px;
    border-right: 2px solid #f44336;
}

.top-right {
    top: -15px;
    right: -15px;
    border-left: 2px solid #f44336;
}

.bottom-right {
    bottom: -15px;
    right: -15px;
    border-left: 2px solid #f44336;
}